#ticket {
    width: 250px;
    border: 2px dashed black;
    padding: 10px;
    font-size: 18px;
    color: #444;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  #ticket:before {
    content: '';
    display: block;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 20px;
    margin: -10px -10px 10px -10px;
  }
  
  #ticket:after {
    content: '';
    display: block;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 10px -10px -10px -10px;
    height: 20px;
  }
  